<h2 class="title">My Attachments</h2>
<%= link_to "Add New attachment", new_attachment_path%>
<br/><br/>

<% unless @attachments.empty? %>
  <ul class="photos_list">
    <% @attachments.each do |attachment| %>
    <li><%= attachment.file_file_name%>
      <%= link_to "Download this attachment", download_attachment_path(attachment)%>

  <%= link_to "Delete this file", attachment_path(attachment), :method => :delete, :data => {:confirm => "Are you sure you want to permanently delete this attachment?"}%>
    </li>
    <% end %>
  </ul>
<% else %>
  No Attachments Found!
<% end %>
